// @media screen and (max-width:750){
//   .titleBox{
//     background-size: 200%;
//   }
// }
.titleBox{
  background-image: image-url('bckgr.jpg');
  background-repeat: no-repeat;
  background-size: 250%;
  padding-top: 56px;
  padding-bottom: 56px;
  .btn{
    margin-top: 30px;
  }
}
.whiteBox{
  padding-top: 10px;
  padding-bottom: 10px;
  i{
    font-size: 25px;
  }
  h5 span{
    border-bottom: solid 3px $primary;
    padding: 0 10px 20px 10px;
  }
}
.contactBox{
  padding-top: 56px;
  padding-bottom: 56px;
  p{
    color: $gray-text;
    margin-bottom: 3px;
  }
  .headerSmall i{
    font-size: 22px;
  }
}
.map img{
  width: 100%;
}
