.footer{
  padding-top: 56px;
  padding-bottom: 56px;
  a{
    color: black;
    &:hover{
      color: $primary;
    }
  }
  ul{
    list-style: none;
    padding: 0;
    li{
      border-bottom: solid 1px $gray-border;
      &:last-child{
        border: none;
      }
    }
  }
  .news span{
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: $gray-text;
  }
  .headerFooter{
    margin-bottom: 30px;
  }
  .blackBg{
    background-color: black;
    .container{
      padding-top: 56px;
      padding-bottom: 56px;
      h3{
        margin: 0 40px 0 0;
        color: white;
        font-weight: bold;
        line-height: 33px;
      }
    }
  }
  .footerBottom{
    padding-top: 30px;
  }
}
