.brand{
  position: relative;
  h3, p, a.btn-default{
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
  }
  .bg-slide{
    background: image-url('bg-slider1.jpg');
    text-align: center;
  }
  .bg-slide img{
    width: auto;
    min-height: 200px;
  }
  .btn-primary{
    margin-right: 20px;
  }
  .item-brand{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .item-brand-small{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    .button{
      padding: 5px;
    }
  }
}
.desc{
  .item-desc{
    p{
      color: $gray-text;
      font-weight: bold;
    }
    h5{
      text-indent: 1em;
    }
    i{
      float: left;
      font-size: 30px;
    }
  }
  .details span{
    width: 100%;
  }
  .readMoreBtn{
    font-size: 20px;
  }
}
.features{
  .features-title{
    padding-bottom: 0;
  }
  img{
    width: 50%;
  }
}
.banner{
  .details-btn-small{
    margin-top: 10px;
  }
  h4{
    color: white;
  }
}
