.brand{
  position: relative;
  .bg-slide{
    z-index: -1;
    position: absolute;
    top: 0;
    img{
      height: auto;
      min-height: 160px;
    }
  }
  .btn-primary{
    margin-right: 20px;
  }
  .item-desc{
    .container{
      padding-top: 70px;
      padding-bottom: 70px;
    }
  }
  .item-desc-small{
    .container{
      h2{
        margin-top: 5px;
      }
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}
.grayBox{
  background: $gray-bg;
  .moreInfo{
    margin: 56px 0 56px 0;
    p{
      color: $gray-text;
      font-weight: bold;
    }
    span{
      margin-left: 0;
      float: left;
      i{
        font-size: 30px;
      }
    }
  }
  .details{
    display: none;
    span{
      width: 100%;
      text-align: right;
      color: $primary;
      &:hover{
        color: $primary-hover;
      }
    }
  }
  .readMoreBtn{
    font-size: 20px;
    cursor: default;
    color: $primary;
    &:hover{
      color: $primary-hover;
    }
  }
}
.desc{
  h3{
    text-align: center;
    margin-bottom: 50px;
  }
  .container{
    margin-top: 56px;
    margin-bottom: 56px;
  }
  .col-lg-6{
    img{
      width: 50%;
    }
    text-align: center;
  }
  .gray-desc{
    background-color: $gray-bg;
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
.blackBg{
  background-color: black;
  a{
    color: white;
  }
  .container{
    padding-top: 56px;
    padding-bottom: 56px;
    .details-btn-small{
      text-align: center;
      margin-top: 10px;
      .btn{
        padding: 6px 10px 6px 10px;
      }
    }
    h4{
      text-align: center;
      margin: 0;
      color: white;
      line-height: 33px;
      font-weight: normal;
    }
  }
}
