nav.top-bar{
  .title-area{
    height: 50px !important;
    img{
      height: 35px;
      width: auto;
      vertical-align: baseline;
    }
    &:hover{
      opacity: 0.8;
    }
    li a{
      padding: 6px 0 0 0;
    }
  }
  ul.right{
    li.current a{
      color: black;
    }
    a{
      font-size: rem-calc(16);
      font-weight: bolder !important;
      padding-right: 0 !important;
    }
  }
  background-color: white;
  border: none;
  font-weight: bold;
}
ul.off-canvas-list li a{
  border: none !important;
  &:hover{
    background-color: white !important;
  }
}
