nav.top-bar{
  .title-area{
    height: 50px !important;
    li{
      padding-top: 10px;
    }
    img{
      height: 35px;
      width: auto;
    }
    &:hover{
      opacity: 0.8;
    }
  }
  ul.right{
    li.current a{
      color: black;
    }
    a{
      font-size: rem-calc(15);
      font-weight: bolder !important;
      padding-right: 0 !important;
    }
  }
  background-color: white;
  border: none;
  font-weight: bold;
}
ul.off-canvas-list li a{
  border: none !important;
  &:hover{
    background-color: white !important;
  }
}
.icons-nav{
  padding-bottom: 10px;
  a.reverse{
    color: $gray-border;
  }
  span{
    font-size: 18px;
    padding-right: 8px;
  }
}
