body .btn{
  border: solid 2px $primary-hover;
  padding-left: 15px;
  padding-right: 15px;
  &.btn-primary{
    background-color: $primary;
    border: solid 2px $primary;
    &:hover{
      background-color: $primary-hover;
      border: solid 2px $primary-hover;
    }
  }
}
body{
  a{
    color: $primary;
    &:hover{
      color: $primary-hover;
      text-decoration: none;
    }
  }
  a.reverse{
    color: $primary-hover;
    &:hover{
      color: $primary;
    }
  }
  h3{
    color: black;
    font-size: 28px;
  }
  h4{
    color: black;
    font-size: 23px;
  }
  h5{
    color: black;
    font-size: 18px;
  }
  .btn.btn-default{
    color: $gray-text;
    padding: 8px 25px 8px 25px;
    background: transparent;
  }
  .btn.btn-black{
    background-color: black;
    color: white;
  }
}
input.form-control, textarea.form-control{
  border: solid 2px $gray-light-border;
  &:focus{
    border-color: red;
  }
}
.has-feedback{
  input{
    padding-left: 40px;
    width: 90%;
  }
  textarea.form-control{
    text-indent: 30px;
    width: 95%;
    height: 138px;
  }
  .form-control-feedback{
    position: absolute;
    line-height: 34px;
    left: 15px;
    top: 0;
    font-size: 20px;
  }
}
