
body{
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  img{
    width: 100%;
  }
  a, .primary{
    color: $primary;
    &:hover{
      color: $primary-hover;
      text-decoration: none;
    }
  }
  a.normal{
    color: $gray-text;
    &:hover{
      color: black;
    }
  }
  a.reverse, span.reverse, li.reverse{
    color: $primary-hover;
    &:hover{
      color: $primary;
    }
  }
  .button{
    border: solid 2px $primary-hover;
    padding: 8px 25px 8px 25px;
  }
  .button.btn-black{
    background-color: black;
    color: white;
  }
  .button.btn-primary{
    background-color: $primary;
    border: solid 2px $primary;
    &:hover{
      background-color: $primary-hover;
      border: solid 2px $primary-hover;
    }
  }
  .button.btn-default{
    color: $gray-text;
    background: transparent;
    &:hover{
      border-color: $gray-light-border;
    }
  }
  .button.btn-black{
    background-color: black;
    color: white;
  }
}
input.form-control, textarea.form-control{
  border: solid 2px $gray-light-border;
  &:focus{
    border-color: red;
  }
}
.has-feedback{
  input{
    padding-left: 45px;
    width: 90%;
  }
  textarea.form-control{
    text-indent: 30px;
    width: 95%;
    height: 138px;
  }
  .form-control-feedback{
    position: absolute;
    line-height: 34px;
    left: 15px;
    top: 0;
    font-size: 20px;
  }
}
