.wrap{
  padding-top: 56px;
  padding-bottom: 56px;
  &.gray-wrap{
    background-color: $gray-bg;
  }
  &.black-wrap{
    background-color: black;
    color: white;
  }
}
.orbit-container{
  .orbit-prev, .orbit-next{
    opacity: 0.7;
  }
  .orbit-timer{
    span{
      border-left-color: $gray-text;
      border-right-color: $gray-text;
    }
    &.paused > span{
      border-left-color: $gray-text;
    }
  }
}
