@import "variables";

.brand{
  .bg-slide{
    img{
      height: auto;
    }
  }
  .container{
    height: 410px;
  }
  .btn-primary{
    margin-right: 20px;
  }
  // .btn-default{
  //   background: transparent;
  //   color: $gray-btn;
  //   border: solid 2px $gray-btn;
  //   &:hover{
  //     color: $gray-text;
  //     border-color: $gray-text;
  //   }
  // }
  .item-desc{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.grayBox{
  background: $gray-bg;
  .moreInfo{
    margin: 56px 0 56px 0;
    > * {
      margin-left: 56px;
    }
    p{
      color: $gray-text;
      font-weight: bold;
    }
    span{
      margin-left: 0;
      float: left;
      i{
        font-size: 30px;
      }
    }
  }
  .details{
    display: none;
    span{
      width: 100%;
      text-align: right;
      color: $primary;
      &:hover{
        color: $primary-hover;
      }
    }
  }
  .readMoreBtn{
    font-size: 20px;
    cursor: default;
    color: $primary;
    &:hover{
      color: $primary-hover;
    }
  }
}
.desc{
  h3{
    text-align: center;
    margin-bottom: 50px;
  }
  .container{
    margin-top: 56px;
    margin-bottom: 56px;
  }
  img{
    width: 50%;
  }
  .gray-desc{
    background-color: $gray-bg;
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
