body .button{
  border: solid 2px $primary-hover;
  padding: 8px 25px 8px 25px;
  &.button.btn-default{
    color: $gray-text;
    background: transparent;
    &:hover{
      border-color: $gray-dark-border;
    }
  }
  &.btn-primary{
    background-color: $primary;
    border: solid 2px $primary;
    &:hover{
      background-color: $primary-hover;
      border: solid 2px $primary-hover;
    }
  }
  &.btn-black{
    background-color: black;
    color: white;
  }
}
